webapp/node_modules/*
collector/__pycache__/*
webapp/package-lock.json
collector/fb_ads_library_api*
.idea/
topic_extraction/__pycache__/
temp/
topic_extraction/republican_ads.json
*.pyc
.env
keywords_extractor/venv/