collector/*
!collector/collect.py
!collector/fb_ads_library_api.py
webapp/node_modules/*
webapp/public/ads_collected.json
webapp/public/log.txt
webapp/package-lock.json
webapp/polidashboard_routes.js
topic_extraction/__pycache__/
topic_extraction/republican_ads.json
temp/*
logs/*
*.pyc
.idea/
.env
*.sh
*.txt
*.log
*.json