<div class="widget-container boxed" id="footnote">
	<div class="inner">
		<h3 class="widget-title">
			Partner Institution
		</h3>
		<p>
			<img src="/images/dmrc_logo.jpg" alt="Digital Media Research Centre" />The Australian PoliDashboard Facebook Political Ads Module is presented in partnership with the <a href="https://research.qut.edu.au/dmrc/" target="_blank">Digital Media Research Centre</a> at <a href="https://www.qut.edu.au/" target="_blank">Queensland University of Technology</a> and is part of an international election transparency initiative.
		</p>
	</div>
</div>