.menu li.selected {
    background: rgba(223, 227, 233, 0.8);
}

/* Footnote */

#footnote p {
	font-weight: 400;
	margin-bottom: 0;
}

#footnote h3 {
	margin-top: 0px;
}

#footnote img {
	float: left;
	max-height: 3em;
	width: auto;
	margin-right: 10px;
}

/* Utilities */

.opaque_area .c3-area {
	opacity: 1 !important;
}

.opaque_area .c3-chart-line {
	color: #fff !important;
}

.chart-notes, .chart-notes p {
	font-weight: normal;
	margin-top: 5px;
	text-align: center;
	line-height: 1.4;
}

.red {
	color: #c00001;
}

.twitter-blue {
	color: #1ea0f2;
}

[id^=google-visualization-errors-all-1] {
	display: none !important;
}

a {
	color: #2275b4;
}
  
a:hover {
	color: #3e97d9;
}

.btn-blue {
	background-color: #2275b4;
	border-color: #2275b4; 
}

/* Preloader:  */

.loader {
	width: 100%;
	height: 100%;
	min-height: 150px;
	position: relative;
}

.lds-grid {
	position: absolute;
	width: 64px;
	height: 64px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.lds-grid div {
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	animation: lds-grid 1.2s linear infinite;
}

.loader.black .lds-grid div {
	background: #000;
}
.loader.red .lds-grid div {
	background:  #c00001;
}

.lds-grid div:nth-child(1) {
	top: 6px;
	left: 6px;
	animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
	top: 6px;
	left: 26px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
	top: 6px;
	left: 45px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
	top: 26px;
	left: 6px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
	top: 26px;
	left: 26px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
	top: 26px;
	left: 45px;
	animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
	top: 45px;
	left: 6px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
	top: 45px;
	left: 26px;
	animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
	top: 45px;
	left: 45px;
	animation-delay: -1.6s;
}
@keyframes lds-grid {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

/* Structure */

.container {
	min-width: 90vw;
	background-color: #212121;
}

.row {
	margin-left: -10px;
	margin-right: -10px;
}

.row > div {
	padding-left: 10px;
	padding-right: 10px;
}

.widget-container {
	margin-bottom: 20px;
	box-shadow: 0 0 9px 3px #121212, 0 0 10px 5px #121212;
}

.widget-container .inner {
	padding: 25px;
}

.widget-title.secondary {
	margin-top: 15px;
}

.widget-content {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.toggle-header a {
	color: #fff;
	text-decoration: underline;
}

@media only screen and (max-width: 767px) {
	.widget-container {
		margin: 5px -15px;
	}
	
	footer {
		margin: 5px -15px 0 -15px
	}

	.row {
		margin-bottom: -5px;
		margin-top: -5px;
	}
}

/* Header */

header {
	/* padding: 40px 28px 20px 28px; */
	/* padding-top: 30px; */
	display: flex;
	justify-content: space-between;
	padding: 0 7% 0 7%;
	background: #121212;
}

.country-select.inside {
	background-color: white;
	border: none;
	width: 200px;
	max-width: 100% !important;
	border: none;
	border-radius: 4px;
}

.country-select {
	margin-right: auto;
	/* margin-left: 2.5%; */
}

.country-select input {
	border: none;
}

.country-select .country-list{
	z-index: 100000;
	overflow-y: auto;
	border-radius: 4px;
}

footer {
	height: 60px;
	background-color: white;
	padding: 15px 25px;
}
  
footer a {
	margin-top: auto;
	margin-bottom: auto;
}

#main-logo {
	width: 300px;
	max-width: 100% !important;
	height: auto;
	padding-top: 20px;
	padding-bottom: 15px;
}

.right-logo {
	display: inline-block;
	float: right;
	width: auto;
	margin: 30px 0 auto 0;
	width: 250px;
	max-width: 100%;
}

@media only screen and (max-width: 550px) {
	header {
		/* padding: 25px; */
		display: block;
		text-align: center;
	}

	.right-logo {
		/* width:70%; */
		margin-left: 17%;
		margin-right: 13%;
		margin-top: 0;
		margin-bottom: 10px;
		float: left;
	}

	#main-logo {
		/* width: 70%; */
		display: block;
		text-align: center !important;
		/* margin-bottom: 10px; */
		/* margin-left: 15%;
		margin-right: 15%; */
	}

	header {
		padding-top: 0 !important;
	}
}

/* Tooltips */

.tip {
	position: relative;   
	display: inline-block;
	height: 1em;
	width: 1em;
	float: right;
}

.p-tip {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: grey;
	position: relative;
	width: auto;
	display: block;
}

.tip .tiptext, .p-tip .tiptext {
	right: 0;
	visibility: hidden;
	width: 250px;
	background-color: black;
	color: white;
	text-align: left;
	font-weight: 400;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 25px;
	z-index: 10000;
	font-size: 13px;
	overflow-x: visible;
} 

.p-tip .tiptext {
	left: 0;
}

.tip:hover .tiptext, .p-tip:hover .tiptext { 
	visibility: visible;
	overflow-x: visible;
}

.tip img {
	-webkit-filter: invert(1);
	filter: invert(1);
}

@media only screen and (min-width: 770px) {
	.tip-in-middle {
		margin-right: 15px;
	}
}

/* Topojson map elements */

.maptip {
	right: 0;
	visibility: hidden;
	position: absolute;
	width: 230px;
	/* background-color: #212121; */
	color: white;
	/* text-align: center; */
	text-align: left;
	padding: 10px;
	right: 0;
	top: 325px;
	z-index: 10000;
	font-size: 13px;
	overflow-x: visible;
	border-radius: 2px;
}

.maptip-text {
	margin-bottom: 0px;
}

.maptip img {
	-webkit-filter: invert(1);
	filter: invert(1);
}


.maptip-title {
	font-weight: bold;
	margin-bottom: 5px; /* Add some space below the title */
}

.maptip-content {
	/* text-align: center; */
	text-align: left;
}

.maptip-label {
	color: lightgray; /* Make labels gray */
}

.tip-yellow {
	color: #facc15;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: -10px; /* Adjust this value to position the triangle properly */
    right: 10px; /* Adjust this value to position the triangle properly */
    border-left: 10px solid transparent; /* Half the width of the triangle */
    border-bottom: 10px solid white; /* Height of the triangle */
    border-right: 10px solid transparent; /* Half the width of the triangle */
}

/* Replacements */

.hashtag_replace {
	padding: 0 !important;
	border: 0 !important;
	display: inline !important;
}

/* Recent Tweets Widget */

#tweet-widget-container {
	height: 681px;
	overflow-y: scroll;
}

@media only screen and (max-width: 767px) {

}

.field_text {
	width: 100%
}

#recent_tweets_collapse {
	display: none;
}

@media only screen and (max-width: 767px) {
	#tweet-widget-container {
		height: 50vh
	}

	.collapsed#tweet-widget-container {
		height: 175px;
		overflow-y: hidden;
	}

	.collapsed #tweets-widget {
		filter: opacity(.4)
	}

	.collapsed #recent_tweets_collapse {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 25px;
		transform: translate(-50%, 0);
		opacity: 1;
	}
}
  
/* Total Posts */

#total_posts_container {
	width: 100%;
}

.infographic {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	padding-top: 12px;
}

.infographic h4 {
	text-align: center;
	padding-top: 0px;
	margin-bottom: 4px;
	margin-top: 0;
}

.infographic .description {
	text-align: center;
	font-weight: 300;
	margin-bottom: 0px;
	padding-top: 10px;
}

.infographic_section_inner {
	display: flex
}

.infographic_section:not(:last-child) {
	border-right: 1px solid lightgrey;
}

.infographic_box {
	flex-grow: 1;
	margin-bottom: 10px;
}

.infographic_box h3 {
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}

ion-icon, .infographic_box .fas {
	margin-bottom: -1.5px;
	padding-right: 15px;
}

.infographic_box p {
	text-align: center;
	margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
	.infographic {
		display: block;
	}

	.infographic_section {
		width: 100%;
		border-right: none !important;
	}
}

/* Misinfo Section */

.fake_label {
	line-height: 29px;
	min-height: 28px;
	color: #5d5d5d;
	font-size: 13px;
	font-weight: 600;
	display: inline-block;
	padding-right: 5px;
}

.custom-checkbox {
	display: inline-block;
}

.switch .custom-checkbox label {
	padding-left: 80px;
}

/* User Section */

#botornot_legend p {
	margin-bottom: 0;
	text-align: center;
}

#user-widget .inner {
	padding-bottom: 15px;
}

/* Status Page */

#error_table {
	width: 100%;
}

#error_table td {
	width: 25%;
	padding: 20px;
}

#error_table .red {
	color: red;
}

#log {
	max-height: 300px;
	overflow-y: scroll;

}

/* Heatmap */
.heatmap {
	width: 100%;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	margin-top: 40px;
	table-layout: fixed;
}
.heatmap td, .heatmap th {
	vertical-align: middle;
}
.heatmap tbody {
	cursor: pointer;
}
.heatmap tbody tr:hover {
	background-color: #eee
}
.heatmap th {
	font-weight: 700;
	text-align: center;
	padding-bottom: 10px;
}
.heatmap_name_cell {
	text-align: right;
	padding-right: 10px
}
.heatmap_filter_cell {
	width: 28px;
}
.heatmap button {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 2px;
	font-size: 10px
}
.heatmap button:hover {
	background-color: #eee;
}
.heatmap button.selected {
	background-color: #ddd;
}
.heatmap button ion-icon {
	padding-right: 0;
}
.heatmap button p {
	margin-bottom: 0;
}
.sort-label {
	position: absolute;
	transform: translate(10px, -15px) rotate(-30deg);
	transform-origin: bottom left;
}
input[type=text] {
	color: black !important;
	font-weight: 400 !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: grey;
	opacity: 1; /* Firefox */
}

.second-thead {
	width: 225px;
	float: right;
	text-align: center;
	margin-bottom: 38px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: grey;
}

.sort img {
	width: 20px;
}

.navigation-instructions img {
	width: 12px;
	display: inline;
}

/* Navigation instructions */

.navigation-instructions .exit-button {
	float: right;
	border: none;
	background: none;
}

.navigation-instructions {
	background-color: #e2e3e5;
	padding: 15px;
	border: none;
	/* margin-bottom: 15px; */
	margin-left: 0;
	line-height: 21px;
}

.navigation-instructions ul {
	list-style-type: circle;
	margin-left: 15px;
	font-weight: 400;
	line-height: 21px;
}

#heatmap_filter_form {
	margin-bottom: 15px;
}

.not-bold {
	font-weight: 400;
}

.box_width {
	width: 45px;
}

@media only screen and (max-width: 800px) {
	.box_width {
		width: 30px;
	}

	.heatmap_name_cell {
		/* overflow: hidden; */
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

/* Summary */
.page-container {
	padding: 10px 0;
	display: flex;
}

.page-container p {
	font-weight: 400;
	margin-bottom: 0;
	flex: 4;
}

.page-container button {
	border-radius: 3px;
	border: none;
	background: none;
}

.page-container button:hover {
	background-color: lightgrey;
}

.summary-container {
	padding: 10px 0;
	display: flex;
}

.summary-container div {
	align-self: center; 
	padding-left: 4px; 
	padding-right: 4px; 
	margin-bottom: 0;
	line-height: 21px; 
	font-weight: 400;
	flex: 4;
}

.page-left {
	margin: 0;
	padding: 0;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}


.page-right {
	/* width: 80%; */
	display: table-cell;
	padding: auto;
	float: right;
	justify-content: center;
}

.page-left {
	max-width: 80px;
	min-width: 80px;
}

.widget_container {
	padding: 15px 0;
	border-bottom: 1px solid black;
}

.widget_container.last {
	border-bottom-style: none;
	padding-bottom: 0;
}
._1z7u {
	visibility: hidden;

}
@media only screen and (min-width: 767px) {
	.widget_container {
		display: flex
	}
	.fb-page {
		display: inline;
	}
	#demographics_container {
		margin-top: -30px;
	}
}
em {
	font-style: italic !important;
}
.summary_subtitle {
	color: #777;
	margin-top: 0;
	font-style: normal;
	font-weight: 600;
}
#demographics_container {
	margin-top: -30px;
	height: 150px;
}

#hovers line {
	stroke: black;
	fill: black;
	opacity: 0;
}

#hovers text {
	opacity: 0;
	font-size: 10px;
	opacity: 0;
	white-space: pre;
}

.demographics-checkbox {
	display: inline-block;
}

#summary h3.widget-title {
	/* margin-bottom: 5px; */
	margin-top: 15px;
}

.summary_subtitle:not(:last-of-type) {
	margin-bottom: 5px;
}

.page_exit_button {
	background: none;
	border: none;
	font-size: small;
	margin-left: 7px;
}

#back_button ion-icon {
	padding-right: 0px;
}

.facebook_nav_light {
	color: gray;
	margin-bottom: 15px;
	display: inline-block;
	margin-bottom: 0;
	text-decoration: underline dotted;
	cursor: pointer;
	margin-left: 7px;
}

.facebook_nav_light button {
	padding-right: 15px;
	margin-right: 15px;
	border-right: 2px solid gray;
	background: none;
	border-left: none;
	border-top: none;
	border-bottom: none;
}

.facebook_nav_light span {
	display: inline;
	color: black;
    background: #ffffa9;
    padding: 5px;
    margin: 2px;
}

h3.widget-title {
	margin-top: 15px;
}

a ion-icon {
	color: black;
}

#summary-home p{
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 0;
}

#summary-home ul {
	font-weight: 400;
	list-style-type: circle;
	margin-left: 15px;
	line-height: 21px;
}

h3.widget-title, h4.summary_subtitle {
	font-size: 16px;
}

#funder_note {
	font-weight: 400;
	margin-bottom: 0;
}

#demographics_legend {
	width: 100%;
	text-align: right;
}

#demographics_legend span {
	margin-left: 20px;
}

#demographics_men {
	color: #2276b4;
}

#demographics_women {
	color: #009966;
}

#demographics_other {
	color: #F0A202;
}

/* Status Page */

#collector-table {
	width: 100%;
}

#collector-table tbody {
	font-weight: 400;
}

#collector-table td, #collector-table th {
	padding: 10px;
	text-align: right;
}

#collector-table .Up {
	color: green;
}

#collector-table .Down {
	color: red;
}

#log p {
	font-weight: 400;
	margin: 0;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: block;
}

/* Dropdown button */
.dropdown-btn {
    background-color: #006ebe;
    color: white;
	width: 100%;
    padding: 10px;
	/* margin-top: 20px; */
    border: none;
	text-align: left;
    cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
    display: block;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0; /* Set a lower z-index than the button */
    padding: 10px;
    transform-origin: top;
    animation: slideDown 0.5s ease forwards; /* Use CSS animation */
	margin-bottom: 16px;
}

/* Dropdown content */
.dropdown-content-navigation {  
    display: block;
    background-color: #f1f1f1;
	border: 1px solid lightgrey;
    min-width: 200px;
	box-shadow: none;
    z-index: 0; /* Set a lower z-index than the button */
    /* padding: 10px; */
	padding: 0px;
    transform-origin: top;
    animation: slideDown 0.5s ease forwards;  /*Use CSS animation*/
}

.slide-up {
    animation: slideUp 0.5s ease forwards;
}

/* Keyframes for the slide-down animation */
@keyframes slideDown {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes slideUp {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

hr {
	/* border-top: 2px solid #000; */
	margin-top: 15px;
	margin-bottom: 15px;
}

.arrow {
	display: inline-block;
	transition: transform 0.3s;
	transform: rotate(0deg);
}

.dropdown-arrow {
	display: inline-block;
	transition: transform 0.3s;
	transform: rotate(90deg);
}

.dropdown-btn span {
	transition: all 0.4s ease;
}

.dropdown-btn {
    transition: filter 0.3s, font-size 0.1s;
}

.dropdown-btn:hover {
    filter: brightness(1.1);
    font-size: 1.1em;
}

@media only screen and (max-width: 768px) {
    .dropdown-btn:hover {
        filter: none; /* Disable brightness effect on mobile */
    }
}

.page_name {
	margin-bottom: 2px;
}

.facebook_date {
	font-size: 15px;
	display: flex;
	border: 1px solid #fff !important;
	background: #fff !important; 
	padding: 0 5px;
}

.dropdown-timeframe {
	margin-bottom: 0px;
	font-style: italic;
	font-size: 11px;
	color: grey;
	position: absolute;
	bottom: 8px;
	text-align: left;
}

.dropdown-polidashboard {
	margin-bottom: 0px;
	font-style: italic;
	font-size: 11px;
	color: grey;
}

.about {
	background: white;
	color: black;
	padding: 22px;
	border-radius: 5px;
	height:	fit-content;
}

.time-select:hover > div {
    background-color: #f2f2f2;
}

.time-select,
.time-select * {
    cursor: pointer;
    background-color: inherit; /* Set the default background color */
}

.time-select {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 280px;
    width: 100%;
    text-align: center;
    align-items: center;
}

.no-interaction {
    pointer-events: none;
}

.navbar-item {
	padding: 8px 24px 8px !important;
	color: white;
	font-size: 16px;
	border-radius: 3px;
	margin: 3px;
	/* border: 1px solid white; */
}

.navbar-item:hover {
    color: black;
}


.navbar {
	margin-bottom: 0px;
}

.advertiser_name {
	margin-top: 0px;
	margin-bottom: 9px;
	text-align: center;
	justify-content: center;
	display: grid;
	min-height: 57px;
}


.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 16px;
	scale: 0.6;
  }
.lds-ellipsis div {
	position: absolute;
	top: 5px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #2276b4;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
}
  