.menu li.selected {
    background: rgba(223, 227, 233, 0.8);
}

/* Footnote */

#footnote p {
	font-weight: 400;
	margin-bottom: 0;
}

#footnote h3 {
	margin-top: 0px;
}

#footnote img {
	float: left;
	max-height: 3em;
	width: auto;
	margin-right: 10px;
}

/* Utilities */

.opaque_area .c3-area {
	opacity: 1 !important;
}

.opaque_area .c3-chart-line {
	color: #fff !important;
}

.chart-notes, .chart-notes p {
	font-weight: normal;
	margin-top: 5px;
	text-align: center;
	line-height: 1.4;
}

.red {
	color: #c00001;
}

.twitter-blue {
	color: #1ea0f2;
}

[id^=google-visualization-errors-all-1] {
	display: none !important;
}

a {
	color: #2275b4;
}
  
a:hover {
	color: #3e97d9;
}

.btn-blue {
	background-color: #2275b4;
	border-color: #2275b4; 
}

/* Preloader:  */

.loader {
	width: 100%;
	height: 100%;
	min-height: 150px;
	position: relative;
}

.lds-grid {
	position: absolute;
	width: 64px;
	height: 64px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.lds-grid div {
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	animation: lds-grid 1.2s linear infinite;
}

.loader.black .lds-grid div {
	background: #000;
}
.loader.red .lds-grid div {
	background:  #c00001;
}

.lds-grid div:nth-child(1) {
	top: 6px;
	left: 6px;
	animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
	top: 6px;
	left: 26px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
	top: 6px;
	left: 45px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
	top: 26px;
	left: 6px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
	top: 26px;
	left: 26px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
	top: 26px;
	left: 45px;
	animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
	top: 45px;
	left: 6px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
	top: 45px;
	left: 26px;
	animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
	top: 45px;
	left: 45px;
	animation-delay: -1.6s;
}
@keyframes lds-grid {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

/* Structure */

.container {
	min-width: 90vw;
	background-color: #212121;
}

.row {
	margin-left: -10px;
	margin-right: -10px;
}

.row > div {
	padding-left: 10px;
	padding-right: 10px;
}

.widget-container {
	margin-bottom: 20px;
	box-shadow: 0 0 9px 3px #121212, 0 0 10px 5px #121212;
}

.widget-container .inner {
	padding: 25px;
}

.widget-title.secondary {
	margin-top: 15px;
}

.widget-content {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.toggle-header a {
	color: #fff;
	text-decoration: underline;
}

@media only screen and (max-width: 767px) {
	.widget-container {
		margin: 5px -15px;
	}
	
	footer {
		margin: 5px -15px 0 -15px
	}

	.row {
		margin-bottom: -5px;
		margin-top: -5px;
	}
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	padding: 0 7% 0 7%;
	background: #121212;
}

.country-select.inside {
	background-color: white;
	border: none;
	width: 200px;
	max-width: 100% !important;
	border: none;
	border-radius: 4px;
}

.country-select {
	margin-right: auto;
}

.country-select input {
	border: none;
}

.country-select .country-list{
	z-index: 100000;
	overflow-y: auto;
	border-radius: 4px;
	width: 100% !important;
}

footer {
	height: 60px;
	background-color: white;
	padding: 15px 25px;
}
  
footer a {
	margin-top: auto;
	margin-bottom: auto;
}

#main-logo {
	width: 320px;
	max-width: 100% !important;
	height: auto;
	padding-top: 20px;
	padding-bottom: 15px;
}

.right-logo {
	display: inline-block;
	float: right;
	width: auto;
	margin: 30px 0 auto 0;
	width: 250px;
	max-width: 100%;
}

@media only screen and (max-width: 550px) {
	header {
		display: inline-block;
		text-align: center;
		padding-top: 0 !important;
	}

	.right-logo {
		margin-left: 17%;
		margin-right: 13%;
		margin-top: 0;
		margin-bottom: 10px;
		float: left;
	}

	#main-logo {
		display: block;
		text-align: center !important;
	}

	.navbar {
		text-align: center;
	}

}

/* Tooltips */

.tip {
	position: relative;   
	display: inline-block;
	height: 1em;
	width: 1em;
	float: right;
}

.p-tip {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: grey;
	position: relative;
	width: auto;
	display: block;
}

.tip .tiptext, .p-tip .tiptext {
	right: 0;
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: white;
	text-align: left;
	font-weight: 400;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 25px;
	z-index: 10000;
	font-size: 13px;
	overflow-x: visible;
} 

.p-tip .tiptext {
	left: 0;
}

.tip:hover .tiptext, .p-tip:hover .tiptext { 
	visibility: visible;
	overflow-x: visible;
}

.tip img {
	-webkit-filter: invert(1);
	filter: invert(1);
}

@media only screen and (min-width: 770px) {
	.tip-in-middle {
		margin-right: 15px;
	}
}

/* Topojson map elements */

.maptip {
	right: 0;
	visibility: hidden;
	position: absolute;
	width: 230px;
	color: white;
	text-align: left;
	padding: 10px;
	right: 0;
	top: 325px;
	z-index: 10000;
	font-size: 13px;
	overflow-x: visible;
	border-radius: 2px;
}

.maptip-text {
	margin-bottom: 0px;
}

.maptip img {
	-webkit-filter: invert(1);
	filter: invert(1);
}


.maptip-title {
	font-weight: bold;
	margin-bottom: 5px; /* Add some space below the title */
}

.maptip-content {
	/* text-align: center; */
	text-align: left;
}

.maptip-label {
	color: lightgray; /* Make labels gray */
}

.tip-yellow {
	color: #facc15;
}

/* .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: -10px; 
    right: 10px; 
    border-left: 10px solid transparent; 
    border-bottom: 10px solid white; 
    border-right: 10px solid transparent;
} */

/* Replacements */

.hashtag_replace {
	padding: 0 !important;
	border: 0 !important;
	display: inline !important;
}

/* Recent Tweets Widget */

#tweet-widget-container {
	height: 681px;
	overflow-y: scroll;
}

@media only screen and (max-width: 767px) {

}

.field_text {
	width: 100%
}

#recent_tweets_collapse {
	display: none;
}

@media only screen and (max-width: 767px) {
	#tweet-widget-container {
		height: 50vh
	}

	.collapsed#tweet-widget-container {
		height: 175px;
		overflow-y: hidden;
	}

	.collapsed #tweets-widget {
		filter: opacity(.4)
	}

	.collapsed #recent_tweets_collapse {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 25px;
		transform: translate(-50%, 0);
		opacity: 1;
	}
}
  
/* Total Posts */

#total_posts_container {
	width: 100%;
}

.infographic_div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	border: solid 1px rgb(137 137 137);
	border-radius: 5px;
	padding: 10px;
	margin-left: 10px;
	height: fit-content;
	cursor: pointer;
}

.infographic {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	padding-top: 12px;
}

.infographic h4 {
	text-align: center;
	padding-top: 0px;
	margin-bottom: 4px;
	margin-top: 0;
}

.infographic .description {
	text-align: center;
	font-weight: 300;
	margin-bottom: 0px;
	padding-top: 10px;
}

.infographic_section_inner {
	display: flex
}

.infographic_section:not(:last-child) {
	border-right: 1px solid lightgrey;
}

.infographic_box {
	display:flex;
	flex-direction: column;
    flex: 1;
	width: 33%;
	margin-top: 10px;
    margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	border-right: solid 1px rgb(204, 204, 204);
	height: auto;
	padding: 0px 10px;
}
.infographic_box div {
	height: fit-content;
}

.infographic_box h3 {
	margin: 0;
	text-align: center;
}

.infographic_box i {
    vertical-align: middle;
    font-size: 2em; /* Adjust size if necessary */
	padding-right: 10px;
	padding-left: 10px;
}

.infographic_box span {
    font-size: 16px;
}
ion-icon, .infographic_box .fas {
	margin-bottom: -1.5px;
}

.infographic_box p {
	text-align: center;
	margin-bottom: 0;
	font-weight: 400;
}

@media only screen and (max-width: 767px) {
	.infographic {
		display: block;
	}

	.infographic_section {
		width: 100%;
		border-right: none !important;
	}
}

/* Misinfo Section */

.fake_label {
	line-height: 29px;
	min-height: 28px;
	color: #5d5d5d;
	font-size: 13px;
	font-weight: 600;
	display: inline-block;
	padding-right: 5px;
}

.custom-checkbox {
	display: inline-block;
}

.switch .custom-checkbox label {
	padding-left: 80px;
}

/* User Section */

#botornot_legend p {
	margin-bottom: 0;
	text-align: center;
}

#user-widget .inner {
	padding-bottom: 15px;
}

/* Status Page */

#error_table {
	width: 100%;
}

#error_table td {
	width: 25%;
	padding: 20px;
}

#error_table .red {
	color: red;
}

#log {
	max-height: 300px;
	overflow-y: scroll;

}

/* Heatmap */
.heatmap {
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	table-layout: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.heatmap td, .heatmap th {
	vertical-align: middle;
}
.heatmap tbody {
	cursor: pointer;
}
.heatmap tbody tr:hover {
	background-color: #eee
}
.heatmap th {
	font-weight: 700;
	text-align: center;
	padding-bottom: 10px;
}
.heatmap_name_cell {
	text-align: right;
	padding-right: 10px;
	min-width: 250px;
	max-width: 250px;
}
.heatmap_filter_cell {
	width: 28px;
}
.heatmap button {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 2px;
	font-size: 10px
}
.heatmap button:hover {
	background-color: #eee;
}
.heatmap button.selected {
	background-color: #ddd;
}
.heatmap button ion-icon {
	padding-right: 0;
}
.heatmap button p {
	margin-bottom: 0;
}
.sort-label {
	position: absolute;
	transform: translate(10px, -15px) rotate(-30deg);
	transform-origin: bottom left;
	

}
input[type=text] {
	color: black !important;
	font-weight: 400 !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: grey;
	opacity: 1; /* Firefox */
}

.second-thead {
	width: 225px;
	float: right;
	text-align: center;
	margin-bottom: 38px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: grey;
}

.sort img {
	width: 20px;
}

.navigation-instructions img {
	width: 12px;
	display: inline;
}

/* Filtered Table */ 
.summary_name_cell {
	text-align: center;
	padding-right: 10px
}

.sort-label-summary {
	position: absolute;
	text-align:center
}

/* Navigation instructions */

.navigation-instructions .exit-button{
	float: right;
	border: none;
	background: none;
}

.navigation-instructions {
	background-color: #e2e3e5;
	padding: 15px;
	border: none;
	/* margin-bottom: 15px; */
	margin-left: 0;
	line-height: 21px;
}

.navigation-instructions ul {
	list-style-type: circle;
	margin-left: 15px;
	font-weight: 400;
	line-height: 21px;
}

#heatmap_filter_form {
	margin-bottom: 15px;
}

.not-bold {
	font-weight: 400;
}

.box_width {
	min-width: 60px;
    width: 60px;
	max-width: 60px;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 800px) {
	.box_width {
		width: 30px;
	}

	.heatmap_name_cell {
		/* overflow: hidden; */
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

/* Summary */
.page-container {
	padding: 10px 0;
	display: flex;
}

.page-container p {
	font-weight: 400;
	margin-bottom: 0;
	flex: 4;
}

.page-container button {
	border-radius: 3px;
	border: none;
	background: none;
}

.page-container button:hover {
	background-color: lightgrey;
}

.summary-container {
	padding: 10px 0;
	display: flex;
}

.summary-container div {
	align-self: center; 
	padding-left: 4px; 
	padding-right: 4px; 
	margin-bottom: 0;
	line-height: 21px; 
	font-weight: 400;
	flex: 4;
}

.page-left {
	margin: 0;
	padding: 0;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}


.page-right {
	/* width: 80%; */
	display: table-cell;
	padding: auto;
	float: right;
	justify-content: center;
}

.page-left {
	max-width: 80px;
	min-width: 80px;
}

/* Show more button for pages */
#show-more-button {
	font-size: 16px;
	width: 100%;
	padding: 10px;
	transition: background-color 0.3s ease-in-out;
}

#show-more-button:hover {
	background-color: #e0e0e0;
}


.widget_container {
	padding: 15px 0;
	border-bottom: 1px solid black;
}

.widget_container.last {
	border-bottom-style: none;
	padding-bottom: 0;
}
._1z7u {
	visibility: hidden;

}
@media only screen and (min-width: 767px) {
	.widget_container {
		display: flex
	}
	.fb-page {
		display: inline;
	}
	#demographics_container {
		margin-top: -30px;
	}
}
em {
	font-style: italic !important;
}
.summary_subtitle {
	color: #777;
	margin-top: 0;
	font-style: normal;
	font-weight: 600;
}
#demographics_container {
	margin-top: -30px;
	height: 150px;
}

#hovers line {
	stroke: black;
	fill: black;
	opacity: 0;
}

#hovers text {
	opacity: 0;
	font-size: 10px;
	opacity: 0;
	white-space: pre;
}

.demographics-checkbox {
	display: inline-block;
}

#summary h3.widget-title {
	/* margin-bottom: 5px; */
	margin-top: 15px;
}

.summary_subtitle:not(:last-of-type) {
	margin-bottom: 5px;
}

.page_exit_button, .demo_ad_exit_button{
	background: none;
	border: none;
	font-size: small;
	margin-left: 7px;
}

#back_button ion-icon {
	padding-right: 0px;
}

.facebook_nav_light {
	color: gray;
	margin-bottom: 15px;
	display: inline-block;
	margin-bottom: 0;
	text-decoration: underline dotted;
	cursor: pointer;
	margin-left: 7px;
}

.facebook_nav_light button {
	padding-right: 15px;
	margin-right: 15px;
	border-right: 2px solid gray;
	background: none;
	border-left: none;
	border-top: none;
	border-bottom: none;
}

.facebook_nav_light span {
	display: inline;
	color: black;
    background: #ffffa9;
    padding: 5px;
    margin: 2px;
}

h3.widget-title {
	margin-top: 15px;
}

a ion-icon {
	color: black;
}

#summary-home p{
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 0;
}

#summary-home ul, ol {
	font-weight: 400;
	list-style-type: circle;
	margin-left: 15px;
	line-height: 21px;
}

h3.widget-title, h4.summary_subtitle {
	font-size: 16px;
}

#funder_note {
	font-weight: 200;
	margin-bottom: 0;
	font-size: 10px;
}

#demographics_legend {
	width: fit-content;
	height: fit-content;
	text-align: right;
	margin-top: auto;
	margin-bottom: auto;
}

#demographics_legend span {
	margin-left: 20px;
}

#demographics_men {
	color: #2276b4;
}

#demographics_women {
	color: #009966;
}

#demographics_other {
	color: #F0A202;
}

/* Status Page */

#collector-table {
	width: 100%;
}

#collector-table tbody {
	font-weight: 400;
}

#collector-table td, #collector-table th {
	padding: 10px;
	text-align: right;
}

#collector-table .Up {
	color: green;
}

#collector-table .Down {
	color: red;
}

#collector-table .Error {
	color: grey;
	font-style: italic;
}

#log p {
	font-weight: 400;
	margin: 0;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: block;
	margin-bottom: 16px;
}

/* Dropdown button */
.dropdown-btn {
	background-color: #006ebe;
    color: white;
	width: 100%;
    padding: 10px;
    border: none;
	text-align: left;
    cursor: pointer;
}

.dropdown-btn-clear {
    pointer-events: none;
}

.dropdown-navigation-btn {
	background-color: #6c6c6c !important;
	display: flex;
	align-items: center;
}

.dropdown-navigation-btn.green {
	appearance: auto;
	background-color: #0a9206 !important;
}

.dropdown-navigation-btn.red {
	appearance: auto;
	background-color: #c00001 !important;
}

/* Dropdown content */
.dropdown-content {
    display: block;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0; /* Set a lower z-index than the button */
    padding: 10px;
    transform-origin: top;
    animation: slideDown 0.5s ease forwards; /* Use CSS animation */
	margin-bottom: 16px;
}

/* Dropdown content */
.dropdown-content-navigation {  
    display: block;
    background-color: #f1f1f1;
	border: 1px solid lightgrey;
    min-width: 200px;
	box-shadow: none;
    z-index: 0; /* Set a lower z-index than the button */
	padding: 0px;
    transform-origin: top;
    animation: slideDown 0.5s ease forwards;  /*Use CSS animation*/
}

.slide-down {
	animation: slideDown 0.5s ease forwards;
}

.slide-up {
    animation: slideUp 0.5s ease forwards;
}

/* Keyframes for the slide-down animation */
@keyframes slideDown {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes slideUp {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

.arrow {
	display: inline-block;
	transition: transform 0.3s;
	transform: rotate(0deg);
}

.dropdown-arrow {
	display: inline-block;
	transition: transform 0.3s;
	transform: rotate(90deg);
}

.dropdown-btn span {
	transition: all 0.4s ease;
}

.dropdown-btn {
    transition: filter 0.3s, font-size 0.1s;
}

.dropdown-btn:hover {
    filter: brightness(1.1);
    font-size: 1.1em;
}

@media only screen and (max-width: 768px) {
    .dropdown-btn:hover {
        filter: none; /* Disable brightness effect on mobile */
		font-size: 1em;
    }
}

.page_name {
	margin-bottom: 2px;
}

.facebook_date {
	font-size: 13px;
	display: flex;
	padding: 0 5px;
}

.dropdown-timeframe {
	margin-bottom: 0px;
	font-style: italic;
	font-size: 11px;
	color: grey;
	position: absolute;
	bottom: 8px;
	text-align: left;
}

.dropdown-polidashboard {
	margin-bottom: 0px;
	font-style: italic;
	font-size: 11px;
	color: grey;
}

.about {
	background: white;
	color: black;
	padding: 22px;
	border-radius: 5px;
	height:	fit-content;
}

.time-select:hover * {
    background-color: #f2f2f2;
}

/* Change background color of .time-select elements on hover */
.time-select:hover {
    background-color: #f2f2f2;
}

.time-select,
.time-select * {
    cursor: pointer;

}

.time-select {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.no-interaction {
    pointer-events: none;
}

.navbar-item {
	padding: 8px 24px 8px !important;
	color: white;
	font-size: 16px;
	border-radius: 3px;
	margin: 3px;
}

.navbar-item:hover {
    color: black;
}


.navbar {
	margin-bottom: 0px;
}

/* Main Title for Left and Right columns */
.big_title {
	text-align: center;
	justify-content: center;
	align-items: center;
	display: grid;
	color: #006EBE;
	font-family: "Open Sans", sans-serif;
	font-size:30px;
	font-weight: 1000;
	justify-items: center;
	padding-bottom: 0px;
	gap: 10px;
	letter-spacing: -2px;
	padding-left: 60px;
	padding-right: 60px;
	margin: 0px;
}

.big_title span{
	text-align: center;
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 16px;
	scale: 0.6;
  }
.lds-ellipsis div {
	position: absolute;
	top: 5px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #2276b4;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
}


/* Country Select */
.country-select.inside {
    width: 100%;
}

.flag_dropdown {
	width: 100%;
}

.country-select.inside .selected-flag {
    width: 100%;
	border-radius: 3px;
}

.country-select.inside .flag-dropdown {
    width: 100%;

}

.country-select .selected-flag .arrow {
	right: none;
	left: 36px;
}

#inner_country_select {
	border: 1px solid rgb(177, 177, 177);
	border-radius: 3px;
	font-size: 14px;
	align-items: center;
}



/* Tooltip ? icon */
.info-icon {
	vertical-align: middle;
}

.info-icon img {
	width: 1.2em;
	height: 1.2em;
}

/* Radio input */
.funder-radio {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(218 218 218);
	border: 1px rgb(191 191 191) solid;
}

.funder-radio:hover {
    background-color: rgb(195 195 195);
}

.funder-radio-container {
	margin: 13px;
	padding: 4px;
	max-width: 80px;
}

.funder-radio-container input:checked ~ .funder-radio {
	background-color: #2196F3;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: 1px rgb(138, 138, 138) solid;
}

/* Main Funder Table Display */
#funder_table {
	transition: opacity 0.5s ease;
	width: 100%;
}

/* Funder Tabs */
.tabs {
    overflow-x: auto;
    background-color: #006ebe;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: left;
	padding: 0px;
	margin-bottom: 10px;
}

.tabs button {
    float: left;
    border: none;
    outline: none;
    padding: 10px;
	white-space: nowrap;
    transition: 0.3s;
	color: white;
	height: auto;
	width: fit-content;
	margin: 0px;
	
}

.tabdesc{
	appearance: auto;
	background-color: #c00001;
	clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
	pointer-events: none;
	padding-right: 30px !important;
	
}

.tablinks {
    position: relative;
	 background-color: #006ebe;
	font-size: 13px !important;
}

.tab-slant {
	padding-right: 30px !important;
	padding-left: 30px !important;
	clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
	clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
	margin-left: -20px !important;
}
.blue_pulse {
	animation: pulse 1.5s infinite ease-in-out;
}


.tablinks-hover:hover  {
	animation: none !important;
    /* background-color: #0022ff; */
	background-color: #025ea0;
}

.tabs button.active {
    /* background-color: #1736ff; */
	background-color: #024677;
}

@keyframes pulse {
    0% {
        background-color: #006ebe;
    }
    50% {
        background-color: #0058aa;
    }
    100% {
        background-color: #006ebe;
    }
}

.tablinks.active {
    animation: none !important; /* Completely disables animation */
}

.filter_tab{ 

	/* background-color: white; */
	border-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	
}

/* Div for holding filter options */
.filter_div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	margin: auto;
	margin-bottom: 10px;
	padding-left: 0px;
	gap: 20px;
	width: fit-content;
	
}

/* Div for main filter options */
.primary_filter_div {
	width: fit-content;
	margin: auto;
}

/* Div for holding filter inputs */
.filter_options{
	display: flex;
	flex-direction: column;
	justify-content: top;
	border-radius: 3px;
	flex-grow: 1;
}

.filter_options label, .filter_options p {
	display: flex;
	align-items: flex-start;
	font-size:13px;

}
.filter_options input{
	margin-top: 2px;
}

.filter_options p {
	margin-bottom: 5px;
}

/* Open and close sidebar button */
.filter_button_div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filter_button {
	color: white;
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.filter_button.red {
	background-color: #c00001;
}

.filter_button.green {
	background-color: #0a9206;
}
.filter_button.red:hover {
	background-color: #d15353;
}

.filter_button.green:hover {
	background-color: #65b365;
}

/* Input elements */
.age-checkbox, .gender-checkbox, .reset-checkbox  {
	appearance: auto;
	margin-right: 5px !important;
	padding: 10px;
}

.age-checkbox + label, .gender-checkbox + label {
	margin-right: 20px;
}

.age-checkbox-container {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	gap: 10px;
}

.region_select_container {
    display: flex;
    flex-direction: column;
	justify-content: left;
	align-items: celeft;
	margin-bottom: 10px;
}

.region_select_container label {
	font-size: 13px;
	margin-bottom: 5px;
}

.custom-select {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.custom-select label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.custom-select input[type="checkbox"] {
    margin-right: 10px;
}

.region-checkbox {
	appearance: auto;
}

.general-radio, .started-during-radio{
	appearance: auto;
	margin-right: 5px !important;
}

/* Plaform selection options*/
.platform-div label {
	appearance: auto;
	font-size: 16px;
	display: flex;
    align-items: center;
	justify-items: center;
	gap: 5px;
	width: 100%;
}
.platform-div p {
	appearance: auto;
	line-height: 20px;
	font-size: 16px;
	margin: 0px;

}

.platform-div  {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding:  8px;
	width: 100%;
}

/* Bootstrap tooltip */
.topf-tooltip-container {
	appearance: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.topf-tooltip-icon, .date-tooltip-icon, .keywords-tooltip-icon, .advertisers-tooltip-icon, .custom-tooltip-icon {
	appearance: none;
    background-color: #555;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 12px;
    margin-left: 5px;
	min-width:20px;
}

.heatmap .tooltip-inner{
	word-wrap: break-word;
  	white-space: normal;
}

.topf-tooltip-text {
	appearance: none;
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.topf-tooltip-container:hover .tooltip-text {
	appearance: none;
    visibility: visible;
    opacity: 1;
}

/* Div for holding heatmap table inside tab */
.result-table-div {
	width:100%;
	overflow-x: auto;
	white-space: nowrap;
	margin-top:10px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Heatmap Column Headers */
.ad_name_width {
	min-width: 200px;
	max-width: 500px;
}

.range_header {
	position: relative;
	overflow: visible;
	height: max-content;
}

.col-legend{
	padding-top: 40px;
}

.table_header_div{
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
}

.table_value_header_div {
	display: flex;
    align-items: center;
    color: rgb(0, 110, 190);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    white-space: normal;
    width: 270px;
    flex-shrink: 0;
}

/* Date Selector */
.date_div {
	display: flex;
	flex-direction: column;
	justify-content: left;
	gap: 5px;
	width: 100%;
	margin: auto;
}

.date_div p {
	font-size: 13px;
	margin: 0px;
	
}

.date_div input {
	margin: 4px;
	margin-top: 2px;
}

.date_div label {
	display: flex;
    align-items: flex-start;
	font-size: 13px;
	margin: 0px;
}

/* Left column */
.left_col{
	overflow: hidden;
	position: relative;
	min-height: 950px;
	
}

/* Filter sidebar */
#sidebar{
	display: flex;
	flex-direction: row;
	padding: 10px;
	padding-right: 0px;
	position: absolute;
	z-index: 90;
	left: -334px;
	transition: left 0.3s ease-in-out;
	margin-top:-10px;
	pointer-events: none;

}

#sidebar * {
	pointer-events: auto;
}

#sidebar.open{
	left:0px;
}

#sidebar_filter{
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	background: white;
	padding: 10px;
}

.sidebar_tab_button {
	color: white;
	height: 174px;
	border: solid 2px #dd4f4f;
	background-color: #c00001;
	writing-mode: vertical-rl;
	/* animation: pulsate 1.5s infinite; */
	font-size: 14px;
	transition: background-color 0.3s ease-in-out;
}

.sidebar_tab_button.hover {
	background-color: #e65656;
}

@keyframes pulsate_red {
	0% {
		background-color: #c00001;
	}
	50% {
		background-color: #d15353;
	}
	100% {
		background-color: #c00001;
	}
}

.slides{
	/* position: absolute; */
	transition: transform 0.5s ease-in-out;
	position: absolute;
    width: 95%; /* Slightly smaller than the parent */
}

/* Initial position of slides */
.hidden-left {
	transform: translateX(-600px);
}

.hidden-right {
	transform: translateX(600px);
}

.active {
	transform: translateX(0px);
}

.filter_hr{
	height:1px;
	background-color: #c00001;
	width: 50%;
    margin: 2px;
    margin-bottom: 10px;
}

/* Sidebar dropdown button div */
.filter_dropdown_button_div {
	display: flex;
	flex-direction: row;
	background: #006ebe;
}


/* Inforgraphic Flag */
.flag_replace{
	height: auto;
	width: 60px;
}

/* Main Infographic Hover */
.infographic_hover_div {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	font-size: 20px;
	transition: opacity 0.5s ease;
}

.inner_infographic_div {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	width: 100%;
	transition: opacity 0.5s ease;
}

.infographic_title {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
	width: max-content;
}

.scrollable-infographic {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    height: 60px !important;
    flex-direction: column;  /* Allow text to stack properly */
}

.scrollable-infographic h3 {
    margin: 0; /* Remove extra margin */
    text-align: center; /* Keep it centered */
    max-height: 100%; /* Ensure full use of space */
}

.age_replace, .region_replace {
    display: block; /* Change to block for better layout */
    white-space: pre-line;
}


/* Switch Container */
.original-switch {
    position: relative;
	display: inline-flex;        
    align-items: center; 
}

/* Hide the default checkbox input */
.original-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider style */
.original-switch-label {
    width: 60px;    
    height: 30px;  
    background-color: #ccc;
    display: block;
    border-radius: 15px;   
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

/* The "slider" inside the switch */
.original-switch-label:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;   
    height: 20px;
    background-color: white;
    border-radius: 10px; 
    transition: transform 0.3s ease;
}

/* When checkbox is checked */
.original-switch input:checked + .original-switch-label {
    background-color: #4CAF50;  
}

.original-switch input:checked + .original-switch-label:before {
    transform: translateX(30px); 
}

.original-switch-text {
    font-size: 16px;
    margin-left: 10px; 
    vertical-align: middle;
    cursor: pointer; 
}

.range-filter-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 14px;
}

.range-selector {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.range-selector input {
	max-width: 120px;
	margin: 0px;
	height: 29px;
	border: 2px solid #006ebe;
}

.impressions-filter-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
	background-color: rgba(37, 156, 218, 0.2);
	padding: 10px;
}

.impressions-filter-title{
	text-align: center;
	font-size: 16px;
}

.impressions-filter-options-div{
	display: flex; 
	flex-direction: row; 
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.impressions-hr{
	margin-top: 10px;
	margin-bottom: 0px;
	border: 1px solid rgb(245, 13, 13);
	height: 0px;
	width: 95%;
}


.impressions-vr{
	margin-top: 10px;
	margin-bottom: 0px;
	border: 1px solid rgb(245, 13, 13);
	height: 70px;
	width: 0px;
}

/* Show percent table switch */
.absolute_div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 14px;
}

.absolute_div label, .absolute_div p{
	font-size: 13px;
	margin-bottom: 0px;
}


.absolute_div input {
	appearance: auto;
	margin-right: 5px;
	
}

/* Fake scroll bar */
.scroll-wrapper {
	overflow-x: auto;
	white-space: nowrap;
	width: 100%;
	height: 30px;
	padding: 0px;
}



