<!--div class="widget-container boxed" id="footnote">
	<div class="inner">
		<h3 class="widget-title">
			Partner Institution
		</h3>
		<p>
			US partner institution to be anounced.
		</p>
	</div>
</div-->